version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    restart: always

    environment:
      POSTGRES_USER: nani
      POSTGRES_PASSWORD: nani
      POSTGRES_DB: etl_db

    ports:
      - "5433:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

    networks:
      - etl-network

volumes:
  pgdata:

networks:
  etl-network:
    driver: bridge